<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.activiti.demo.dao.IEmployeeDAO">

	<select id="findEmployeeByName" resultType="employee">
		SELECT * FROM A_EMPLOYEE T
		WHERE T.NAME=#{name}
	</select>
	
	<update id="updateLeaveBill" parameterType="leaveBill">
		UPDATE
			A_LEAVEBILL T
		<trim prefix="SET" suffixOverrides=",">
			<if test="days != null and days != '' ">
				T.DAYS = #{days },
			</if>
			<if test="content != null and content != '' ">
				T.CONTENT = #{content },
			</if>
			<if test="remark != null and remark != '' ">
				T.REMARK = #{remark },
			</if>
			<if test="state != null and state != '' ">
				T.STATE = #{state },
			</if>
		</trim>
		WHERE 
			T.ID = #{id }
	</update>



</mapper>